<launch>
  <!-- Launch Gazebo  -->
  <include file="$(find ar1440_gazebo)/launch/ar1440_world.launch" />   


  <!-- Load joint controller configurations from YAML file to parameter server -->
  <rosparam file="$(find ar1440_gazebo)/config/ar1440_gazebo_control.yaml" command="load"/>


  <!-- load the controllers -->
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
	output="screen" ns="/ar1440" args="joint_state_controller
					  joint1_position_controller
					  joint2_position_controller
					  joint3_position_controller
					  joint4_position_controller
					  joint5_position_controller
					  joint6_position_controller"/>


  <!-- convert joint states to TF transforms for rviz, etc -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
	respawn="false" output="screen">
    <remap from="/joint_states" to="/ar1440/joint_states" />
  </node>

</launch>
